@import './assets/styles/scss/abstracts/fonts.scss';
@import './assets/styles/scss/abstracts/variables.scss';
@import './assets/styles/scss/abstracts/icons.scss';

body {
    background-color: $darker;
}

#toolbar {
    display: flex;
    flex-direction: row;
}

.item {
    background-color: $light;
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    align-items: center;
    border: $darkest solid 1px;
    padding: 15px;
    img {
        width: 200px;
    }
}

#item-stream {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}